body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("ToDoListBG.jpg");
  background-size: cover;
}

.App {
  text-align: center;
}

.headertitle{
  margin-top: 5%;
  margin-bottom: 3%;
  color: #3b2f2f;
  font-size: 100px;
}

/* FORM */
form{
  width: 1120px;
  margin: auto;
  display: flex;
  gap: 20px;
}

form input{
  flex-basis: 80%;
  height: 40px;
  background-color: #fffaf3;
  color: #3b2f2f;
  border: 1px solid #bfa27a;
  border-radius: 6px;
  padding: 10px;
}

form input::placeholder{
  color: #9c8b7a;
}

form button{
  flex-basis: 20%;  
  background-color: #6f4a30;
  color: #fffaf3;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

form button:hover{
  background-color: #8b5e3c;
}


.taskList{
  width: 1120px;
  margin: auto;
}

.taskList ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.taskList ul li{
  text-align: left;
  background-color: #f3efe9;
  margin-top: 12px;
  padding: 12px;
  color: #3b2f2f;
  border-left: 5px solid #a67c52;
  border-radius: 6px;
  transition: 0.2s ease;
}

.taskList ul li:hover{
  transform: scale(1.01);
   background: #6f4a30;
   color: #f3efe9;
}


.taskList span{
  float: right;
  cursor: pointer;
  color: #7a2e2e;
  font-weight: bold;
}

.taskList span:hover{
  color: #b00020;
}


.errorMsg{
  color: black;
  margin-top: 10px;
}

.edit{
  float: right;
  background-color: #6f4a30;
  color: #fffaf3;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 2%;
  padding: 4px 20px;
}

.editText{
  width: 90%;
  padding: 6px;
  border: 1px solid #bfa27a;
  border-radius: 6px;
}

.save{
  float: right;
  padding: 4px 20px;
}